---
import IconVue from "~icons/simple-icons/vuedotjs";
import IconSolid from "~icons/simple-icons/solid";
import IconTypescript from "~icons/simple-icons/typescript";
import IconJavascript from "~icons/simple-icons/javascript";
import IconSupabase from "~icons/simple-icons/supabase";
import IconTailwindCss from "~icons/simple-icons/tailwindcss";
import IconUnoCss from "~icons/simple-icons/unocss";
import IconHeadlessUi from "~icons/simple-icons/headlessui";
import IconAstro from "~icons/simple-icons/astro";
import IconPython from "~icons/simple-icons/python";
import IconCsharp from "~icons/devicon-plain/csharp";
import IconJava from "~icons/devicon-plain/java";
import IconReact from "~icons/simple-icons/react";

import IconRust from "~icons/simple-icons/rust";

import Base from "../layouts/Base.astro";
import Scroller from "../components/pages/index/Scroller.astro";

import LogoPokaimon from "../assets/projects/pokaimon.svg";
import LogoDrive from "../assets/projects/drive.png";

import PfpVexcited from "../assets/profiles/vexcited.png";
import PfpTrobo from "../assets/profiles/trobo.jpg";
import PfpPnxl from "../assets/profiles/pnxl.png";

import IconInstagram from "~icons/simple-icons/instagram";
import IconTwitter from "~icons/simple-icons/twitter";
import IconGithub from "~icons/simple-icons/github";
import IconDiscord from "~icons/simple-icons/discord";
import IconEmail from "~icons/fa6-solid/envelope";

import EmojiArtistPalette from "~icons/twemoji/artist-palette";
import EmojiSmilingFaceWithSunglasses from "~icons/twemoji/smiling-face-with-sunglasses";
import EmojiLaptop from "~icons/twemoji/laptop";
import EmojiManTechnologist from "~icons/twemoji/man-technologist";
import EmojiOfficeWorker from "~icons/twemoji/office-worker";
import EmojiMagnifyingGlassTiltedLeft from "~icons/twemoji/magnifying-glass-tilted-left";

import ProjectCardBase from "../components/pages/index/project-card/Base.astro";
import ProjectCardTech from "../components/pages/index/project-card/Tech.astro";

import SocialCardBase from "../components/pages/index/social-card/Base.astro";
import SocialCardRole from "../components/pages/index/social-card/Role.astro";
import SocialCardTech from "../components/pages/index/social-card/Tech.astro";
import SocialCardLinks from "../components/pages/index/social-card/Socials.astro";
import SocialCardChip from "../components/pages/index/social-card/Chip.astro";
---

<Base>
    <main>
        <section id="hero" style="height: calc(100vh - 8rem)">
            <div
                class="flex flex-row justify-center"
                style="height: calc(100vh - 18rem)"
            >
                <div class="flex flex-col gap-y-2 justify-center">
                    <h1 class="text-4xl font-semibold">
                        "random ppl building <span class="cool-text underline"
                            >random stuff</span
                        >"
                    </h1>
                    <h2 class="text-3xl">- vexcited</h2>
                </div>
            </div>
            <div class="flex flex-row justify-center">
                <div class="flex flex-col gap-y-6 justify-center text-center">
                    <p>Scroll down</p>
                    <Scroller />
                    <p
                        class="text-sm sm:block hidden text-overlay0 selection:text-surface1"
                    >
                        (P.S: hover over everything! there's cool animations on
                        them when you hover.)
                    </p>
                </div>
            </div>
        </section>
        <div class="py-16 gap-y-16 flex flex-col">
            <section id="about" class="gap-y-8 flex flex-col">
                <h2 class="text-3xl font-semibold">About Us</h2>
                <div class="flex flex-col gap-y-2">
                    <h3 class="text-2xl">Hey there, we're catto labs.</h3>
                    <p class="">
                        We're a group of developers building all kinds of
                        software, all while having fun along the way.
                    </p>
                    <p></p>
                    <p></p>
                    <p>...</p>
                    <p></p>
                    <p></p>
                    <p>Jason: Was that the whole script?</p>
                    <p>Vexcited: Uhh.. yeah.</p>
                    <p>Trobo: Bruh - that's too short. 🤦🏻‍♂️</p>
                    <p>
                        Jason: I guess this is what we meant by having fun in
                        projects? ¯\_(ツ)_/¯
                    </p>
                </div>
            </section>
            <section id="projects" class="py-16 gap-y-16 flex flex-col">
                <h2 class="text-3xl font-semibold">Our Projects</h2>
                <div class="grid grid-cols-1 gap-16" id="cards">
                    <ProjectCardBase
                        logo={LogoDrive}
                        bg="bg-[url(/src/assets/projects/drivebg.png)]"
                        url="https://drive.cattolabs.com/"
                        git="https://github.com/catto-labs/drive"
                    >
                        <p class="max-w-[32rem] text-lg">
                            Drive - a versatile file-sharing platform inspired by Google Drive and WeTransfer. With a range of sharing options, including anonymous uploads and easy file sharing, Drive empowers users to collaborate and exchange files effortlessly. Experience the freedom of anonymous sharing with Drive.
                        </p>
                        <ProjectCardTech>
                            <IconSolid
                                class="group-hover:text-sapphire tech-icon"
                            />
                            <IconTypescript
                                class="group-hover:text-blue tech-icon delay-100"
                            />
                            <IconSupabase
                                class="group-hover:text-green tech-icon delay-200"
                            />
                            <IconUnoCss
                                class="group-hover:text-text tech-icon delay-200"
                            />
                        </ProjectCardTech>
                    </ProjectCardBase>
                    <ProjectCardBase
                        logo={LogoPokaimon}
                        bg="bg-[url(/src/assets/projects/pokaimon.png)]"
                        url="https://pokaimon.cattolabs.com"
                        git="https://github.com/catto-labs/pokaimon"
                    >
                        <p class="max-w-[32rem] text-lg">
                            Pokaimon is a Genshin Impact themed collectible game
                            with mechanics similar to Pokémon, made for the
                            Supabase Launch Week 5 Hackathon.
                        </p>
                        <p class="max-w-[32rem] text-lg">
                            You can have 1v1 fights and collect character cards,
                            items and ingame currency in the setting of the
                            Genshin Impact world.
                        </p>
                        <ProjectCardTech>
                            <IconVue class="group-hover:text-green tech-icon" />
                            <IconTypescript
                                class="group-hover:text-blue tech-icon delay-100"
                            />
                            <IconSupabase
                                class="group-hover:text-green tech-icon delay-200"
                            />
                            <IconTailwindCss
                                class="group-hover:text-sky tech-icon delay-300"
                            />
                            <IconHeadlessUi
                                class="group-hover:text-blue tech-icon delay-[400ms]"
                            />
                        </ProjectCardTech>
                    </ProjectCardBase>
                </div>
            </section>
            <section id="team" class="py-16 gap-y-16 flex flex-col">
                <h2 class="text-3xl font-semibold">Our Team</h2>
                <div
                    class="grid xl:grid-cols-3 lg:grid-cols-2 gap-8"
                    id="cards"
                >
                    <SocialCardBase
                        img={PfpPnxl}
                        name="Jason"
                        location="Jakarta, Indonesia"
                        username="@pnxl"
                        role="CDO - Chief Design Officer"
                        url="pnxl.dev"
                    >
                        <SocialCardRole>
                            <SocialCardChip text="Head of Design">
                                <EmojiArtistPalette class="social-tech" />
                            </SocialCardChip>
                            <SocialCardChip text="Nominated #1 for being cool">
                                <EmojiSmilingFaceWithSunglasses
                                    class="social-tech"
                                />
                            </SocialCardChip>
                        </SocialCardRole>
                        <SocialCardTech>
                            <SocialCardChip text="Vue" url="https://vuejs.org/">
                                <IconVue
                                    class="social-tech group-hover:text-green"
                                />
                            </SocialCardChip>
                            <SocialCardChip
                                text="React"
                                url="https://react.dev/"
                            >
                                <IconReact
                                    class="social-tech group-hover:text-sky"
                                />
                            </SocialCardChip>
                            <SocialCardChip
                                text="JavaScript"
                                url="https://www.ecma-international.org/publications-and-standards/standards/ecma-262/"
                            >
                                <IconJavascript
                                    class="social-tech group-hover:text-yellow"
                                />
                            </SocialCardChip>
                            <SocialCardChip
                                text="Tailwind CSS"
                                url="https://www.tailwindcss.com/"
                            >
                                <IconTailwindCss
                                    class="social-tech group-hover:text-teal"
                                />
                            </SocialCardChip>
                            <SocialCardChip
                                text="Python"
                                url="https://python.org/"
                            >
                                <IconPython
                                    class="social-tech group-hover:text-blue"
                                />
                            </SocialCardChip>
                        </SocialCardTech>
                        <SocialCardLinks>
                            <SocialCardChip
                                text="jason@cattolabs.com"
                                url="mailto:jason@cattolabs.com"
                            >
                                <IconEmail
                                    class="social-tech group-hover:text-flamingo"
                                />
                            </SocialCardChip>
                            <SocialCardChip
                                text="pnxl"
                                url="https://github.com/pnxl"
                            >
                                <IconGithub
                                    class="social-tech group-hover:text-lavender"
                                />
                            </SocialCardChip>
                        </SocialCardLinks>
                    </SocialCardBase>
                    <SocialCardBase
                        img={PfpVexcited}
                        name="Mikkel Ringaud"
                        location="Limoges, France"
                        username="@Vexcited"
                        role="CTO - Chief Technical Officer"
                        url="vexcited.vercel.app"
                    >
                        <SocialCardRole>
                            <SocialCardChip text="Head of Technology">
                                <EmojiLaptop class="social-tech" />
                            </SocialCardChip>
                            <SocialCardChip
                                text="Technical God, carries thru projects"
                            >
                                <EmojiManTechnologist class="social-tech" />
                            </SocialCardChip>
                        </SocialCardRole>
                        <SocialCardTech>
                            <SocialCardChip
                                text="Rust"
                                url="https://www.rust-lang.org/"
                            >
                                <IconRust
                                    class="social-tech group-hover:text-peach"
                                />
                            </SocialCardChip>
                            <SocialCardChip
                                text="SolidJS"
                                url="https://www.solidjs.com/"
                            >
                                <IconSolid
                                    class="social-tech group-hover:text-sapphire"
                                />
                            </SocialCardChip>
                            <SocialCardChip
                                text="TypeScript"
                                url="https://www.typescriptlang.org/"
                            >
                                <IconTypescript
                                    class="social-tech group-hover:text-blue"
                                />
                            </SocialCardChip>
                            <SocialCardChip
                                text="Supabase"
                                url="https://supabase.com/"
                            >
                                <IconSupabase
                                    class="social-tech group-hover:text-green"
                                />
                            </SocialCardChip>
                            <SocialCardChip
                                text="UnoCSS"
                                url="https://www.unocss.com/"
                            >
                                <IconUnoCss
                                    class="social-tech group-hover:text-text"
                                />
                            </SocialCardChip>
                        </SocialCardTech>
                        <SocialCardLinks>
                            <SocialCardChip
                                text="vexcited@cattolabs.com"
                                url="mailto:vexcited@cattolabs.com"
                            >
                                <IconEmail
                                    class="social-tech group-hover:text-flamingo"
                                />
                            </SocialCardChip>
                            <SocialCardChip
                                text="vexcitedoff"
                                url="https://instagram.com/vexcitedoff"
                            >
                                <IconInstagram
                                    class="social-tech group-hover:text-pink"
                                />
                            </SocialCardChip>
                            <SocialCardChip
                                text="@vexcitedoff"
                                url="https://twitter.com/vexcitedoff"
                            >
                                <IconTwitter
                                    class="social-tech group-hover:text-sky"
                                />
                            </SocialCardChip>
                            <SocialCardChip
                                text="Vexcited"
                                url="https://github.com/vexcited"
                            >
                                <IconGithub
                                    class="social-tech group-hover:text-lavender"
                                />
                            </SocialCardChip>
                        </SocialCardLinks>
                    </SocialCardBase>
                    <SocialCardBase
                        img={PfpTrobo}
                        name="trobo"
                        username="@trobonox"
                        location="Bavaria, Germany"
                        role="CEO - Chief Executive Officer"
                        url="trobo.tech"
                    >
                        <SocialCardRole>
                            <SocialCardChip text="Chief Executive Officer">
                                <EmojiOfficeWorker class="social-tech" />
                            </SocialCardChip>
                            <SocialCardChip text="Founder of catto labs">
                                <EmojiMagnifyingGlassTiltedLeft
                                    class="social-tech"
                                />
                            </SocialCardChip>
                        </SocialCardRole>
                        <SocialCardTech>
                            <SocialCardChip text="Vue" url="https://vuejs.org/">
                                <IconVue
                                    class="social-tech group-hover:text-green"
                                />
                            </SocialCardChip>
                            <SocialCardChip
                                text="Astro"
                                url="https://astro.build/"
                            >
                                <IconAstro
                                    class="social-tech group-hover:text-peach"
                                />
                            </SocialCardChip>
                            <SocialCardChip
                                text="TypeScript"
                                url="https://www.typescriptlang.org/"
                            >
                                <IconTypescript
                                    class="social-tech group-hover:text-blue"
                                />
                            </SocialCardChip>
                            <SocialCardChip
                                text="Python"
                                url="https://python.org/"
                            >
                                <IconPython
                                    class="social-tech group-hover:text-blue"
                                />
                            </SocialCardChip>
                            <SocialCardChip
                                text="C# (and DotNet)"
                                url="https://dotnet.microsoft.com/languages/csharp"
                            >
                                <IconCsharp
                                    class="social-tech group-hover:text-purple"
                                />
                            </SocialCardChip>
                            <SocialCardChip
                                text="Java"
                                url="https://www.java.com/"
                            >
                                <IconJava
                                    class="social-tech group-hover:text-red"
                                />
                            </SocialCardChip>
                        </SocialCardTech>
                        <SocialCardLinks>
                            <SocialCardChip
                                text="trobo@cattolabs.com"
                                url="mailto:trobo@cattolabs.com"
                            >
                                <IconEmail
                                    class="social-tech group-hover:text-flamingo"
                                />
                            </SocialCardChip>
                            <SocialCardChip
                                text="trobo.tech"
                                url="https://discord.com/users/540898474288480256"
                            >
                                <IconDiscord
                                    class="social-tech group-hover:text-lavender"
                                />
                            </SocialCardChip>
                            <SocialCardChip
                                text="trobonox"
                                url="https://github.com/trobonox/"
                            >
                                <IconGithub
                                    class="social-tech group-hover:text-lavender"
                                />
                            </SocialCardChip>
                        </SocialCardLinks>
                    </SocialCardBase>
                </div>
            </section>
        </div>
    </main>
</Base>

<style>
    .tech-icon {
        @apply h-6 transition duration-500 ease-in-out;
    }

    .social-icon {
        @apply h-4 transition duration-[250ms] ease-in-out;
    }

    .social-tech {
        @apply my-auto w-6 transition duration-[250ms] sm:h-4;
    }

    @keyframes background-pan {
        from {
            background-position: 0% center;
        }

        to {
            background-position: -200% center;
        }
    }

    @keyframes star-scale {
        from,
        to {
            transform: scale(0);
        }

        50% {
            transform: scale(1);
        }
    }

    @keyframes star-rotate {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(180deg);
        }
    }

    .cool-text {
        background: linear-gradient(
            to right,
            #b7bdf8,
            #c6a0f6,
            #f5bde6,
            #f0c6c6,
            #b7bdf8
        );
        background-size: 200%;

        animation: background-pan 2s linear infinite;

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        position: relative;
    }

    .cool-text::selection {
        -webkit-text-fill-color: #181926;
    }
</style>
