---
const { img, name, username, role, url, email } = Astro.props;

import IconLink from "~icons/fa6-solid/link";
---

<div
    class="profile-card mb-12 sm:mb-0"
    data-tilt
    data-tilt-glare
    data-tilt-max-glare="0.15"
    data-tilt-max="5"
>
    <div
        class="flex relative sm:flex-row flex-col gap-y-4 items-center pt-12 sm:pt-0 md:items-start text-center md:text-left gap-x-4"
    >
        <img
            src={img}
            class="absolute sm:relative -top-16 sm:top-0 aspect-square"
        />
        <div class="flex flex-col gap-y-2">
            <h6 class="name">
                {name}
                <span>{username}</span>
            </h6>
            {
                url ? (
                    <a
                        href={`https://${url}`}
                        class=" hover:underline hover:text-mauve inline-flex gap-x-2 text-overlay2"
                    >
                        <>
                            <IconLink class="social-icon h-5 mt-auto hidden sm:inline-flex" />
                            <p class="duration-[250ms] w-full sm:w-fit">
                                {url}
                            </p>
                        </>
                    </a>
                ) : null
            }
        </div>
    </div>
    <slot />

    <style>
        .profile-card {
            @apply flex flex-col gap-y-6 rounded-lg border border-surface0 bg-base bg-opacity-90 p-4;
        }

        .profile-card > div > img {
            @apply h-24 w-max rounded-full border border-gray-900 sm:rounded-lg;
        }

        .name {
            @apply text-lg font-semibold;
        }

        .name > span::before {
            content: "(";
        }

        .name > span::after {
            content: ")";
        }
        .name > span {
            @apply text-sm font-normal text-gray-400;
        }

        .links {
            @apply flex flex-row gap-x-4;
        }
    </style>

    <script src="vanilla-tilt"></script>
</div>
