---
import "@fontsource-variable/red-hat-text";

import Header from "../components/global/Header.jsx";
import Footer from "../components/global/Footer.astro";

const meta = {
    title: "catto.labs",
    desc: "We are catto labs, a team of developers around the world who want to have some fun creating projects together.",
    favicon: "/favicon.svg",
    banner: "/banner.png",
};
---

<html lang="en">
    <head>
        <!-- The unimportant stuff -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <!-- Website metadata -->
        <title>{meta.title}</title>
        <meta property="og:title" content={meta.title} />
        <meta property="twitter:title" content={meta.title} />

        <meta name="description" content={meta.desc} />
        <meta name="og:description" content={meta.desc} />
        <meta name="twitter:description" content={meta.desc} />

        <!-- catto labs branding -->
        <link rel="icon" type="image/svg+xml" href={meta.favicon} />
        <meta property="og:image" content={meta.banner} />
        <meta property="twitter:image" content={meta.banner} />

        <!-- miscellaneous properties -->
        <meta property="twitter:card" content="summary_large_image" />

        <!-- uhhhh -->
        <meta
            name="keywords"
            content="HTML, CSS, JavaScript, Rust, TypeScript, Vue, Cats, RUBS, CATS, Stacks, Solid, JS, Astro, Catto, catto, labs, Pokaimon, undefined, labs, unocss, tailwindcss, tailwind, pronote, pawnote, pokaimon.moe, Supabase, Hackathon, trobo, trobonox, vexcited, pnxl, pixel, flexbox, github, git, Cloudflare, Netlify"
        />
    </head>
    <body
        class="macchiato bg-mantle flex flex-col justify-between min-h-screen"
    >
        <div class="mx-4 sm:mx-8 md:mx-16 lg:mx-32 my-8 md:my-12 lg:my-16">
            <Header />
            <slot />
        </div>
        <Footer />
    </body>
</html>

<style is:global>
    h1 {
        @apply text-text selection:bg-text selection:text-crust;
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-subtext0 selection:bg-text selection:text-base;
    }
    body {
        @apply text-overlay2 selection:bg-text selection:text-surface0;
    }
    html {
        scroll-behavior: smooth;
    }
</style>
